# Ignore everything
*

# Track nvim folder
!nvim/
!nvim/**

!tmux/
!tmux/**

!ghostty/
!ghostty/**

!fish/
!fish/**

!scripts/
!scripts/**

!git/
!git/**

!aerospace/
!aerospace/**

!borders/
!borders/**

!sioyek/
!sioyek/**


# Track these files
!.gitignore
!README.md

# But never track macOS metadata, even inside whitelisted dirs
**/.DS_Store
